/* ============================================================
PRIMARY STRUCTURE OF PARALLAX
============================================================ */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-fluid {
  background-color: lavenderblush;
}
/* ============================================================
SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: lavenderblush;
}
section.module.parallax {
  height: 600px;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 72px;
}
section.module.parallax-1 .my-name {
  color: lavenderblush;
  font-size: 100px;
  line-height: 200px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax h2 {
  color: lavenderblush;
  font-size: 60px;
  line-height: 80px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 250%;
  line-height: 80%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../imgs/todd-downs-13325.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
section.module.parallax-2 {
  background-image: url("../imgs/sfc.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 20px;
  }
  section.module p {
    font-size: 30px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.linkedin {
  width: 45px;
  height: 45px;
  box-shadow: 1.5px 1.5px lavenderblush ;
  border-radius: 100%;
}

.mail {
  width: 46px;
  height: 46px;
  box-shadow: 1.5px 1.5px lavenderblush ;
  border-radius: 100%;
}

.github {
  width: 40px;
  height: 40px;
  box-shadow: 1.5px 1.5px lavenderblush ;
  border-radius: 100%;
}

.pinterest {
  width: 40px;
  height: 40px;
  box-shadow: 1.5px 1.5px lavenderblush ;
  border-radius: 100%;
}

.container {
  position: relative;
  width: 50%;
}


.slurp, .hyup, .seasit{
  display: block;
   width: 100%;
   height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.project1, .project2, .project3{
  width: 35%;
  position: relative;
  left: 20%;
  /*opacity: 0.9;*/
  height: auto;
  width: 50%;
}

.project1:hover .overlay {
  opacity: 1;
}

.project2:hover .overlay {
  opacity: 1;
}

.project3:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20%;
  position: absolute;
  top: 20%;
  left: 21%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*.sub-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 27%;
  left: 80%;
  right: -37%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}*/

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .75rem;
  padding-top: 0px;
  padding-right: 0.75rem;
  padding-bottom: 0px;
  padding-left: 0.75rem;
  min-height: 1px;
}

@media only screen and (min-width: 601px)
materialize.min.css:6

.row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

.center, .center-align {
    text-align: center;
}

.container .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
}

.language-list li, .database li, .framework-library li, .others-skills li{
  display: inline;
}

.skill {
  padding: 0.15em 0.9em;
  padding-top: 0.15em;
  padding-right: 0.9em;
  padding-bottom: 0.15em;
  padding-left: 0.9em;
  font-size: 0.9em;
  background-color: silver;
  border-radius: 41.625em;
  border-top-left-radius: 41.625em;
  border-bottom-right-radius: 41.625em;
  border-bottom-left-radius: 41.625em;
  background-color: darkgrey;
}

.project {
  color: rgba(255, 255, 255, 0.8);
  font-size: 250%;
  line-height: 80%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
  color: white;
  margin: 0;
  height: 0px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.6);
  padding: 123px 0;
  text-align: center;
}

.copyright {
  color: white;
  font-size: 12px
}
