div {
  text-align: center;
}

body {
  background-image: url("../../images/myBike.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  width: 80%;
  margin: 0 auto;
}

/*body {
}*/

.bubbles{
  position: relative;
  top: 0;
  left: 0;
}

.my-bio {
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  width: 300px;
  height: 200px;
}

.my-projects {
  position: relative;
  top: 30px;
  left: 70px;
  border-radius: 50%;
  width: 300px;
  height: 200px;
}

.linkedin {
  width: 30px;
  height: 30px;
}

.mail {
  width: 30px;
  height: 30px;
}

.github {
  width: 30px;
  height: 30px;
}

/*#about li {
  float: left;
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}*/

font {
  color: white;
}

/*body {
  background-color: #425651;
}*/

footer {
  color: white;
  margin: 0;
  width: 100%;
  font-size: 12px;
  opacity: 0.8;
  background-color: rgba(0,0,0,0.6);
  padding: 50px 0;
  margin-top: 310px;
}



.parallax-container {
  height: "your height here";
}
